@page "/createcomp"
@using SkyVoteTime.Client.API;
@using SkyVoteTime.Shared
@using System.Text.Json;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@inject TheMovieDBApi movieApi;


<style>

    h1, h2, h3, h4, h5, p {
      font-weight: 400;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      color: #6ABCEA;
    }

    .containerMovie {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 100%;
      margin-top: 10vh;
      margin-left: auto;
      margin-right: auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    .movie-card {
      background: #ffffff;
      box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 30%;
      margin: 2em;
      border-radius: 10px;
      display: inline-block;
    }

    .movie-header {
      padding: 0;
      margin: 0;
      height: 367px;
      width: 100%;
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-size: cover;
      background-position: 100% 100%;
    }


    .header-icon-container {
      position: relative;
    }

    .header-icon {
      width: 100%;
      height: 367px;
      line-height: 367px;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
      color: #ffffff;
      font-size: 54px;
      text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
      opacity: .85;
    }

    .header-icon:hover {
      background: rgba(0, 0, 0, 0.15);
      font-size: 74px;
      text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      opacity: 1;
    }

    .movie-card:hover {
      -webkit-transform: scale(1.03);
              transform: scale(1.03);
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    }

    .movie-content {
      padding: 18px 18px 24px 18px;
      margin: 0;
    }

    .movie-content-header, .movie-info {
      display: table;
      width: 100%;
    }

    .movie-title {
      font-size: 24px;
      margin: 0;
      display: table-cell;
    }

    .imax-logo {
      width: 50px;
      height: 15px;
      background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
      background-size: contain;
      display: table-cell;
      float: right;
      position: relative;
      margin-top: 5px;
    }

    .movie-info {
      margin-top: 1em;
    }

    .info-section {
      display: table-cell;
      text-transform: uppercase;
      text-align: center;
    }

    .info-section:first-of-type {
      text-align: left;
    }

    .info-section:last-of-type {
      text-align: right;
    }

    .info-section label {
      display: block;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: .5em;
      font-size: 9px;
    }

    .info-section span {
      font-weight: 700;
      font-size: 11px;
    }


      .movie-card {
        width: 95%;
        max-width: 30%;
        margin: 1em;
        display: block;
      }

      .container {
        padding: 0;
        
      }

      .checkbox-wrapper-24{
          margin-top: 10px;
          text-align: center;
      }

   
}
</style>

<h1 class="title" style="text-align:center; margin-top:100px">Create Competition</h1>



<div class="container rounded-3 fundo justify-content-center" style=" margin-top:70px;">

    <div class="container justify-content-center" style="width:80%">

        <form>
            <div class="texto" style="margin-top:50px;">
                <label for="name">Name: </label>
                <input type="name" class="form-control input-lg" @bind="@competition.Name" id="exampleName" aria-describedby="NameHelp" placeholder="Enter the name of the Competition">
            </div>
            <br>
            <div class="texto">
                <label for="description">Description: </label>
                <input type="description" @bind="@competition.Description" class="form-control input-lg" id="exampleDescription" placeholder="Enter the description for the Competition">
            </div>

        </form>

        <br>
        <br>

        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Competition Type
            </button>
            <div class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" @onclick="(e) => ChoseType(1)">Filme</a>
                <a class="dropdown-item" @onclick="(e) => ChoseType(2)">Ator</a>
                <a class="dropdown-item" @onclick="(e) => ChoseType(3)">Diretor</a>
            </div>
        </div>

        

        <br />
        <br />
        <br />
        
        <p class="texto">Category</p>
        <br />

        <div class=" container check justify-content-center">
            @if (CompType == "filme")
            {
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Action", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Action</label>
                        </label>
                    </div>
                    <br />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Drama", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Drama</label>
                        </label>
                    </div>
                    <br />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Romance", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Romance</label>
                        </label>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Documentary", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Documentary</label>
                        </label>
                    </div>
                    <br />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Suspense", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Suspense</label>
                        </label>
                    </div>
                    <br />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Horror", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Horror</label>
                        </label>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Science fiction", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Science fiction</label>
                        </label>
                    </div>
                    <br />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Comedy", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Comedy</label>
                        </label>
                    </div>
                    <br />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" @onchange="@(e => OnCategoryChecked("Adventure", e))" class="form-check-input" value="">
                            <label for="cat" class="cat"> Adventure</label>
                        </label>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            }
            
        </div>

        <!--Search Movie-->
        <div class="form-group row">
            <div class="col-xl-10">
                @if (CompType == "filme")
                {
                    <input class="form-control" type="text" @bind-value="@search" @bind-value:event="oninput" @onkeyup="KeyHandlerfime" placeholder="Search the Competitor" />
                }
                @if (CompType == "ator")
                {
                    <input class="form-control" type="text" @bind-value="@search" @bind-value:event="oninput" @onkeyup="KeyHandlerAtor" placeholder="Search the Competitor" />
                }
                @if (CompType == "diretor")
                {
                    <input class="form-control" type="text" @bind-value="@search" @bind-value:event="oninput" @onkeyup="KeyHandlerDiretor" placeholder="Search the Competitor" />
                }
            </div>
            <div class="col-xs-2">
                @if (CompType == "filme")
                {
                    <input class="form-control" id="searchButton" type="submit" @onclick="GetPosters" value="Go" />
                }
                @if (CompType == "ator")
                {
                    <input class="form-control" id="searchButton" type="submit" @onclick="GetPostersAtor" value="Go" />
                }
                @if (CompType == "diretor")
                {
                    <input class="form-control" id="searchButton" type="submit" @onclick="GetPostersDiretor" value="Go" />
                }
            </div>
            <div>
            </div>
        </div>

        <div class="containerMovie">

             @if (movieList != null)
             {
                    @foreach (var i in @movieList.results)
                    {

                        <div class="movie-card">
                            <div class="movie-header">
                                <img src="https://image.tmdb.org/t/p/w342/@i.poster_path" class="movie-header"/>
                            </div><!--movie-header-->

                            <div class="movie-content">
                                <div class="movie-content-header">
                                    <a href="#">
                                        <h3 class="movie-title">@i.title</h3>
                                    </a>
                                </div>
                                <div class="movie-info">
                
                                    <label>Overview:</label> <br>
                                    <span style="font-size: 11px" >@i.overview</span> <br>
                                    <div class="checkbox-wrapper-24" >
                                    <input type="submit" id="check-24" class="btn btn-secondary" name="check" value="click" @onclick="@(e => GetMovie(@i.id))" />
                                        <label for="check-24">
                                            <span><!-- This span is needed to create the "checkbox" element --></span>Add as Nominee!
                                        </label>
                                    </div>
                                    

                                </div>
                            </div><!--movie-content-->
                        </div><!--movie-card-->
                    }
             }

        </div><!--container-->

        <div class="containerMovie">

            @if (personListResults != null)
            {
                @foreach (var i in @personListResults.results)
                {

                    <div class="movie-card">
                        <div class="movie-header">
                            <img src="https://image.tmdb.org/t/p/w342/@i.profile_path" class="movie-header" />
                        </div><!--movie-header-->

                        <div class="movie-content">
                            <div class="movie-content-header">
                                <a href="#">
                                    <h3 class="movie-title">@i.name</h3>
                                </a>
                            </div>
                            <div class="movie-info">

                                <label>Known for::</label> <br>
                                <span style="font-size: 11px">@i.known_for_department</span> <br>
                                <div class="checkbox-wrapper-24">
                                    <input type="submit" id="check-24" class="btn btn-secondary" name="check" value="click" @onclick="@(e => GetMovie(@i.id))" />
                                    <label for="check-24">
                                        <span><!-- This span is needed to create the "checkbox" element --></span>Add as Nominee!
                                    </label>
                                </div>


                            </div>
                        </div><!--movie-content-->
                    </div>

                    <!--movie-card-->
                }
            }


        </div><!--container-->


        <div class="form-check form-switch switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="cat2" for="flexSwitchCheckDefault">Public</label>
        </div>
        <br>
        <br />
        <br />

        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <button type="button" @onclick="@Cancel" value="Cancel" class="btn btn-light btn-lg">Cancel</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <button type="button" @onclick="@Save" value="Submit" class="btn btn-warning btn-lg">Submit</button>
        </div>
        <br>
        <br />
        <br />

    </div>
    <br>
    <br />
</div>
<br>
<br />
<br />


@code {
    Competition competition = new Competition();

    private string selectedType;

    private List<string> selectedCategories = new List<string>();
    private List<string> selectedMovies = new List<string>();

    private string search { get; set; }
    private string moviePath;
    private MovieList movieList;
    public PersonList personListResults;

    private string CompType;

    //== Movie Search ==//
    private async Task GetPosters()
    {

        movieList = await movieApi.searchMovieDetails(search);
    } // MovieSearch()

     private async Task GetPostersAtor()
    {

        personListResults = await movieApi.searchActorsDetails(search);
    } // MovieSearch()

    private async Task GetPostersDiretor()
    {

        personListResults = await movieApi.searchDirectorsDetails(search);
    } // MovieSearch()


    private async Task KeyHandlerfime(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetPosters();
        }
    }

    private async Task KeyHandlerAtor(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetPostersAtor();
        }
    }

    private async Task KeyHandlerDiretor(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetPostersDiretor();
        }
    }

    public async Task GetMovie(int id)
    {
        OnMovieButtonClick(id.ToString());
        await movieApi.GrabMovieAsync(id);
    } // GetMovie()

    public async Task GetPerson(int id)
    {
        OnPersonButtonClick(id.ToString());
        await movieApi.GrabPersonAsync(id);
    } // GetMovie()

    private void OnCategoryChecked(string categoryName, ChangeEventArgs e)
    {   
        var isChecked = (bool)e.Value;

        if (isChecked)
        {
            selectedCategories.Add(categoryName);
        }
        else
        {
            selectedCategories.Remove(categoryName);
        }
    }

    private void ChoseType(int tipo)
    {
        if (tipo == 1)
        {
            CompType = "filme";
        }
        else if (tipo == 2)
        {
            CompType = "ator";
        }
        else if (tipo == 3)
        {
            CompType = "diretor";
        }
    }

private void OnMovieButtonClick(string movieId)
{
    if (!selectedMovies.Contains(movieId))
    {
        selectedMovies.Add(movieId);
    }
}

    private void OnPersonButtonClick(string personId)
    {
        if (!selectedMovies.Contains(personId))
        {
            selectedMovies.Add(personId);
        }
    }

protected override async Task OnInitializedAsync()
{
}
protected async Task Save()
{
    competition.CategoriesJson = JsonSerializer.Serialize(selectedCategories);
    Console.WriteLine(competition.CategoriesJson);

    competition.MoviesJson = JsonSerializer.Serialize(selectedMovies);
    Console.WriteLine(competition.MoviesJson);

    var response = await Http.PostAsJsonAsync("api/Competition", @competition);
    Competition competitionResponse = await response.Content.ReadFromJsonAsync<Competition>();
        if (competitionResponse?.Id > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
            NavigationManager.NavigateTo("");
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("");
    }


}