@page "/"
@using SkyVoteTime.Client.API;
@using System.Text.Json;
@inject HttpClient _httpClient

@inject TheMovieDBApi movieApi


<PageTitle>SkyVoteTime</PageTitle>


<div class="px-5 mx-5 my-5" >
	<h1 class="title" style="margin-left:10vh">And the Award goes to...</h1>

</div>

<div class="buddy">

      <div class="slider">
        <div class="slide_track">

            @foreach(var movie in movieList.results)
            {
                <div class="slide">
                    <img src="https://image.tmdb.org/t/p/w342/@movie.poster_path" alt="" />
                </div>
            }
            

        </div>

      </div>


</div>
 
<div class="" style=" background-color: #FFF">

    <AuthorizeView>
    
    <div class="container">


        <div style="display:flex; margin-top:4vh; justify-content: space-between ">
                <h1 class="px-5" style="color: #000; margin-top: 4vh; padding-left:0vh!important">Hottest Competitions!</h1>
                <h4 style="margin-top: 6vh; text-decoration: none"><a href="competitions" class="text-dark">See more &rtrif;</a></h4>
        </div>
        

        <div class="row my-3">
        
                @foreach (Competition competition in competitionList)
                {
                    
                    List<String> categories = JsonSerializer.Deserialize<List<String>>(competition.CategoriesJson);
                    if (competition.State == CompetitionState.Public)
                    {
                        if (counter > 2)
                        {
                            counter = 0;
                            break;
                        }
                            <div class="blog-card">
                                <img class="blog-img" src=@competition.ImageUrl />
                                <div class="text-overlay">
                                    <div class="row">
                                        <div class="col-12 my-3" style="display: flex; align-items: center">
                                            @if (categories.Count == 0)
                                            {
                                                <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74;padding: 6px;  font-size:12px">None</span>
                                            }
                                            else
                                            {
                                                @foreach (var category in categories)
                                                {
                                                    <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74; padding: 6px;  font-size:12px">@category</span>
                                                }
                                            }
                                        </div>

                                    </div>
                                    <h3>@competition.Name</h3>
                                    <p style="max-height: 50px;overflow: overlay;">@competition.Description</p>
                                    
                                    <div style="text-align: center;">
                                       
                                        <a href="/nom/@competition.Id" style="color: #fff">

                                            <button class="button-50" role="button"><b>View Nominees!</b></button>
                                            
                                        </a>
                                    </div>

                                </div>
                            </div>
                        counter++;
                    }
                    
                }

                @if(competitionList.Count == 0)
                {
                    <div class="col-12" style="text-align:center">
						<h3 style="text-align: center">No public competitions yet!</h3>
					</div>
				}
                
        </div>

            <div style="display:flex; margin-top:4vh; justify-content: space-between ">
                <h1 class="px-5" style="color: #000; margin-top: 4vh; padding-left:0vh!important">Recently Finished Competitions!</h1>
                <h4 style="margin-top: 6vh; text-decoration: none"><a href="competitions" class="text-dark">See more &rtrif;</a></h4>
            </div>


            <div class="row my-3">

                @foreach (Competition competition in finishedCompetitions)
                {

                    List<String> categories = JsonSerializer.Deserialize<List<String>>(competition.CategoriesJson);
                    if (competition.State == CompetitionState.Finished)
                    {
                        if (counter > 2)
                        {
                            
                            break;
                        }
                        <div class="blog-card">
                            <img class="blog-img" src=@competition.ImageUrl />
                            <div class="text-overlay">
                                <div class="row">
                                    <div class="col-12 my-3" style="display: flex; align-items: center">
                                        @if (categories.Count == 0)
                                        {
                                            <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74;padding: 6px;  font-size:12px">None</span>
                                        }
                                        else
                                        {
                                            @foreach (var category in categories)
                                            {
                                                <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74; padding: 6px;  font-size:12px">@category</span>
                                            }
                                        }
                                    </div>

                                </div>
                                <h3>@competition.Name</h3>
                                <p style="max-height: 50px;overflow: overlay;">@competition.Description</p>

                                <div style="text-align: center;">

                                    <a href="/winner/@competition.Id" style="color: #fff">

                                        <button class="button-50" style="background-color:darkgreen" role="button"><b>View Results!</b></button>

                                    </a>
                                </div>

                            </div>
                        </div>
                        counter++;
                    }

                }

                @if(counter == 0)
				{
					<div class="col-12" style="text-align:center">
						<h3 style="text-align: center">No finished competitions yet!</h3>
					</div>
				}

            </div>
    
    </div>
    </AuthorizeView>
    
    
    <div class="container" style="">
        <div>
        <p style="/* Best movies */

width: 389px;
height: 60px;

font-family: 'Amiri';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 60px */

color: #000;
margin-top: 50px; margin-bottom: 0px;
"> Trending Movies </p>
        </div>
        <div style="display: flex;justify-content: space-between">

            <hr>
            @for(var i = 0; i < 4; i++)
            {
             <div class="poster" style="margin-left:0vh">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                          <img src="https://image.tmdb.org/t/p/w342/@movieList.results[i].poster_path" alt="Avatar" style="width:280px;height:360px;">
                  </div>

                </div>
                        <div class="flim" style="padding: 10px;">
                      <b>@movieList.results[i].title</b><br>
                </div>
              </div>
            </div>
            }

            
        </div>

        <div>
        <p style="/* Best movies */

width: 189px;
height: 60px;

font-family: 'Amiri';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 60px */

color: #000;
margin-top: 50px; margin-bottom: 0px;
"> Best Actors </p>
        </div>
        <div style="display: flex;">

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/bradpitt.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Brad Pitt</b><br>Age - 59
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/emmastone.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Emma Stone</b><br>Age - 34
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/BrendanFraser.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Brendan Fraser</b><br>Age - 54
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/depp.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Jhonny Depp</b><br>Age - 52
                </div>
              </div>
            </div>


            
        </div>
    </div>
    <br />
    <br />
</div>



@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    private MovieList movieList;

    private int counter = 0;

    private String email;

    private List<Competition> competitionList = new List<Competition>();

    private List<Competition> finishedCompetitions = new List<Competition>();

    protected override async Task OnInitializedAsync()
    {
        movieList = await movieApi.UpcomingMovieDetails();


        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;
        email = user.FindFirst(c => c.Type == "name")?.Value;
        if (user.Identity.IsAuthenticated)
        {
            var response = await _httpClient.GetAsync("api/competition/hot/"+ email);
            response.EnsureSuccessStatusCode();
            competitionList = await response.Content.ReadFromJsonAsync<List<Competition>>();

            var responseFinished = await _httpClient.GetAsync("api/competition");
            responseFinished.EnsureSuccessStatusCode();
            finishedCompetitions = await responseFinished.Content.ReadFromJsonAsync<List<Competition>>();
            Console.WriteLine(competitionList);
        }


        

    }

}
