@page "/saveForLate"
@using SkyVoteTime.Shared
@using System.Text.Json;
@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject HttpClient _httpClient
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<style>
    p::-webkit-scrollbar {
        display: none;
    }

    
    .customtab {
        color: white !important;
    }

    a.active {
        color: white !important;
        background-color: #D4BE74 !important;
    }


    span:visited {
        background-color: #000f94;
    }
</style>

<div class="container">
    <div class="my-5" style="margin-top: 50px; padding: 30px; background: rgba(0,0,0,0.6); backdrop-filter: blur(2px)">
        <div style="display:flex">
            <img src="/Assets/Profile4.png" style="width:16vh" />
            <div>
                <h2 style="color: white; padding-top: 2vh">@email</h2>
                <p style="color:lightgray; padding-bottom: 2vh">Professional Voter</p>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs" id="myTabs">
                <li class="nav-item" style="
    cursor: pointer;
">
                    <a class="nav-link customtab @(activeTab == "saved" ? "active" : "")" @onclick="(() => SetActiveTab(saved))" style="font-size:larger">Saved For Later</a>
                </li>
                <li class="nav-item" style="
    cursor: pointer;
">
                    <a class="nav-link customtab @(activeTab == "voted" ? "active" : "")" @onclick="(() => SetActiveTab(voted))" style="font-size:larger">Voted Competitions</a>
                </li>
            </ul>
           

            <div class="tab-content mt-4">
                <div class="tab-pane fade @(activeTab == "saved" ? "show active" : "")" id="saved">
                    
                    @if (competitionList.Count != 0)
                    {
                        <div class="row mb-5">
                            @foreach (Competition competition in competitionList)
                            {

                                List<String> categories = JsonSerializer.Deserialize<List<String>>(competition.CategoriesJson);
                                List<String> emailsSaved = JsonSerializer.Deserialize<List<String>>(competition.savedEmailsJson);
                                if (competition.State == currentState && currentState == CompetitionState.Public && emailsSaved.Contains(email))
                                {



                                    <div class="blog-card" style="margin:1vh">

                                        <img class="blog-img" src=@competition.ImageUrl />
                                        <div class="text-overlay">
                                            <div class="row">
                                                <div class="col-12 my-3" style="display: flex; align-items: center">
                                                    @if (categories.Count == 0)
                                                    {
                                                        <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74;padding: 6px;  font-size:12px">None</span>
                                                    }
                                                    else
                                                    {
                                                        @foreach (var category in categories)
                                                        {
                                                            <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74; padding: 6px;  font-size:12px">@category</span>
                                                        }
                                                    }
                                                </div>

                                            </div>
                                            <h3>@competition.Name</h3>
                                            <p style="max-height: 50px;overflow: overlay;">@competition.Description</p>


                                            <div style="text-align: center; display:flex; justify-content: space-around;">

                                                <a href="/nom/@competition.Id" style="color: #fff">

                                                    <button class="button-50" role="button"><b>View Nominees!</b></button>

                                                </a>

                                                <button class="button-50" style="background-color:red; color: #fff" role="button" @onclick="() => removeSaveForLater(competition, emailsSaved)"><b>Remove from Saved</b></button>

                                            </div>

                                        </div>
                                    </div>
                                }

                            }


                        </div>

                    }
                    else
                    {
                        <div style="height: 50vh; text-align:center; padding-top:5vh" class="m-5">
                            <h2 class="text-light mt-5 pt-5">No Competitions Saved yet.</h2>
                        </div>

                    }
                </div>
                <div class="tab-pane fade @(activeTab == "voted" ? "show active" : "")" id="voted">
                    <div class="row mb-5">
                        @foreach (Competition competitionVoted in competitionVotedList)
                        {
                            List<String> categories = JsonSerializer.Deserialize<List<String>>(competitionVoted.CategoriesJson);
                            if (!(competitionVoted.State == CompetitionState.Finished))
                            {
                                <div class="blog-card" style="margin:1vh">
                                    <img class="blog-img" src=@competitionVoted.ImageUrl />
                                    <div class="text-overlay">
                                        <div class="row">
                                            <div class="col-12 my-3" style="display: flex; align-items: center">
                                                @if (categories.Count == 0)
                                                {
                                                    <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74;padding: 6px;  font-size:12px">None</span>
                                                }
                                                else
                                                {
                                                    @foreach (var category in categories)
                                                    {
                                                        <span class="badge badge-pill badge-dark" style="margin-right: 15px; background-color: #D4BE74; padding: 6px;  font-size:12px">@category</span>
                                                    }
                                                }
                                            </div>

                                        </div>
                                        <h3>@competitionVoted.Name</h3>
                                        <p>@competitionVoted.Description</p>

                                        <div style="text-align: center; display:flex; justify-content: space-around;">

                                            <a href="/ChangeVote/@competitionVoted.Id" style="color: #fff">

                                                <button class="button-50" style="background-color:darkgray" role="button"><b>Change Vote!</b></button>

                                            </a>

                                            <button class="button-50" style="background-color:red; color: #fff" role="button" @onclick="() => deleteVote(competitionVoted)"><b>Delete Vote</b></button>

                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        



@code {
    private CompetitionState currentState = CompetitionState.Public;
    private String currentType = "Any";
    private String typeAll = "Any";
    private String typeMovies = "Movies";
    private String typeTVShows = "TVShow";
    private String typeActors = "Acting";

    private String currentCategory = "Any";
    private String categoryAny = "Any";
    private String categoryNone = "None";
    private String categoryDrama = "Drama";
    private String categoryAction = "Action";
    private String categoryRomance = "Romance";
    private String categoryDocumentary = "Documentary";
    private String categorySuspense = "Suspense";
    private String categoryHorror = "Horror";
    private String categoryScienceFiction = "ScienceFiction";
    private String categoryComedy = "Comedy";
    private String categoryAdventure = "Adventure";
    private String categoryThriller = "Thriller";
    private String categoryMystery = "Mystery";
    private String categoryFantasy = "Fantasy";



    public Competition competition = new Competition
        {
            Movies = new List<Movie>(),
            Description = "",
            CategoriesJson = "",
            Name = "",
            Id = 0,
            Type = "",
            Persons = new List<Person>()
        };

    List<Competition> competitionList = new List<Competition>();

    List<Competition> competitionVotedList = new List<Competition>();

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    string? email;

    private string saved = "saved";

    private string voted = "voted";

    private string activeTab = "saved";

    private void SetActiveTab(string tab)
    {
        activeTab = tab;
    }

    private void SetCompetitionType(String type)
    {
        currentType = type;
    }

    private void SetCompetitionCategory(String category)
    {
        currentCategory = category;
    }

    private bool IsCompetitionTypeMatch(String type)
    {
        if (currentType == "Any")
        {
            return true;
        }

        return type == currentType;
    }

    private async Task removeSaveForLater(Competition competition, List<String> savedEmails)
    {

        if (savedEmails.Contains(email))
        {
            savedEmails.Remove(email);
            competition.savedEmailsJson = JsonSerializer.Serialize(savedEmails);
        }
        else
        {
            
        }
        try
        {
            var response = await _httpClient.PutAsJsonAsync("api/Competition/Put/" + competition.Id, competition);

            if (response.IsSuccessStatusCode)
            {
                
                NavigationManager.NavigateTo("saveForLate");
            }
            else
            {
                // Handle HTTP request error
                Console.WriteLine("HTTP request error: " + response.StatusCode);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    private bool IsCompetitionCategoryMatch(List<String> categories)
    {
        if (currentCategory == "Any")
        {
            return true;
        }
        else if (categories.Count == 0 && currentCategory == "None")
        {
            return true;
        }

        return categories.Contains(currentCategory);
    }

    private void SetCurrentState(CompetitionState state)
    {
        currentState = state;
    }

    private void deleteVote(Competition competition)
    {
        if (competition.Type == "Acting")
        {
            foreach (var person in competition.Persons)
            {
                foreach (var vote in person.Votes)
                {
                    if (vote.email == email)
                    {
                        deleteAsyncVote(vote);
                    }
                }
            }
        }
        else
        {
            foreach (var movie in competition.Movies)
            {
                foreach (var vote in movie.Votes)
                {
                    if (vote.email == email)
                    {
                        deleteAsyncVote(vote);
                    }
                }
            }
        }
    }

    private async Task deleteAsyncVote(Vote vote)
    {

        try
        {
            var response = await _httpClient.DeleteAsync("api/Vote/" + vote.Id);

            if (response.IsSuccessStatusCode)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
                NavigationManager.NavigateTo("competitions");
            }
            else
            {
                // Handle HTTP request error
                Console.WriteLine("HTTP request error: " + response.StatusCode);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void ChangeState(ChangeEventArgs e)
    {
        var state = e.Value.ToString();

        if (state == CompetitionState.Public.ToString())
        {
            competition.State = CompetitionState.Public;
        }
        else if (state == CompetitionState.Private.ToString())
        {
            competition.State = CompetitionState.Private;
        }
        else if (state == CompetitionState.Finished.ToString())
        {
            competition.State = CompetitionState.Finished;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        email = user.FindFirst(c => c.Type == "name")?.Value;

        var response = await _httpClient.GetAsync("api/competition/GetAll/" + email);
        response.EnsureSuccessStatusCode();
        competitionList = await response.Content.ReadFromJsonAsync<List<Competition>>();

        var responseVoted = await _httpClient.GetAsync("api/competition/GetAllVoted/" + email);
        responseVoted.EnsureSuccessStatusCode();
        competitionVotedList = await responseVoted.Content.ReadFromJsonAsync<List<Competition>>();

        

        Console.WriteLine(competitionVotedList);

    }
}
